p {color: darkred;}
h1 {color: red;text-align: center;font-size: 70px}
h2 {color: whitesmoke;font-size: 50px}
body {background-image: url("124.jpg");background-repeat: no-repeat;background-size: cover;background-position: center;background-attachment: fixed;}
table {size: 200px;color: white;}
img src {size: 10px}
a {color: red}