p {color: blacked;text-align: right;}
h1 {color: yellow;text-align: center;font-size: 70px}
h2 {color: lightyellow;font-size: 50px}
h6 {color: yellow;}
h3 {color: yellow;text-align: center;font-size: 40px;text-align: center;}
body {background-image: url("124.jpg");background-repeat: no-repeat;background-size: cover;background-position: center;background-attachment: fixed;}
table {size: 200px;color: darkred;border-color: red;border-collapse: collapse;}
img src {size: 10px}
a {color: red}
th,td {background-color: deepskyblue; }
li {text-align: right;}






.row-container {
    display: flex;
    align-items: flex-start; /* Để hai thứ thẳng hàng trên cùng */
    justify-content: space-between;
    width: 100%;
}

.left-table {
    flex: 1;
}

.right-video {
    margin-left: 20px; /* khoảng cách giữa table và video */
}
.goto-top,
.goto-bottom {
    position: fixed;
    right: 20px;
    padding: 10px 15px;
    background: #333;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.goto-top {
    bottom: 80px; /* Nút ở trên */
}

.goto-bottom {
    bottom: 20px; /* Nút ở dưới */
}


