p {color: blacked;text-align: right;}
h1 {color: yellow;text-align: center;font-size: 70px}
h2 {color: lightyellow;font-size: 50px}
h6 {color: yellow;}
h3 {color: yellow;text-align: center;font-size: 40px;}
body {background-image: url("124.jpg");background-repeat: no-repeat;background-size: cover;background-position: center;background-attachment: fixed;}
table {color: darkred;border-color: red;border-collapse: collapse;}
img src {size: 10px}
a {color: red}
th,td {background-color: deepskyblue; }
td:hover {background-color: cyan;}
li {text-align: left;}
.my-table {width: 100%}





.row-container {
    display: flex;
    align-items: flex-start; /* Để hai thứ thẳng hàng trên cùng */
    justify-content: space-between;
    width: 100%;
}

.left-table {
    flex: 1;
}

.right-video {
    margin-left: 20px; /* khoảng cách giữa table và video */
}
.goto-top,
.goto-bottom {
    position: fixed;
    right: 20px;
    padding: 10px 15px;
    background: #333;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.goto-top {
    bottom: 80px; /* Nút ở trên */
}

.goto-bottom {
    bottom: 20px; /* Nút ở dưới */
}
/* Thanh menu cố định */
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 50px;
    background: #0077cc;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 9999;
}

/* Nút 3 gạch */
.menu-icon {
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* Danh sách menu */
.menu-list {
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    width: 470px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* ẨN KHI MỚI VÀO WEB */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Từng dòng */
.menu-list li {
    border-bottom: 1px solid #ddd;
}

.menu-list li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #333;
}

.menu-list li a:hover {
    background: #f0f0f0;
}
